@import "navbar.css";
@import "footer.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap");

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-family: "Josefin Slab", serif;
  font-weight: light;
  font-size: 70px;
  color: rgb(123, 60, 60);
}

.header b {
  color: rgb(65, 30, 30);
}

.header p {
  font-size: 2 0px;
  color: rgb(123, 60, 60);
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  padding: 64px 100px;
}
.text {
  width: 70%;
  margin-top: 120px;
}

.text h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 50px;
}

.text p {
  margin-top: 20px;
}

.carousel-video {
  float: right;
  /* margin-bottom: 40px; */
}

/* card */

.container-full {
  padding: 64px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.card-container {
  display: flex;
  height: 400px;
  background: #fff;
  transition: 1s;
  justify-content: space-between;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container img {
  width: 200px;
  height: 400px;
  object-fit: cover;
}

.card-container .details {
  display: flex;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.card-container .details h2 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1.2em;
  color: #363636;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}

.card-container .details p {
  max-width: 85%;
  margin-left: 15%;
  color: #767676;
  font-size: 15px;
  margin-bottom: 36px;
  margin-top: 30px;
}

.card-container .details button {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: center;
}

@media (max-width: 1080px) {
  .card-container {
    height: auto;
  }
  .card-container .imgBx {
    padding: 40px;
    box-sizing: border-box;
    width: 100% !important;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  .card-container .imgBx img {
    left: initial;
    max-width: 100%;
  }
  .details {
    width: 100% !important;
    height: auto;
    padding: 20px;
  }
  .card-container .details p {
    margin-left: 0;
    max-width: 100%;
  }
}

/*img*/

.middle {
  text-align: center;
  margin: 40px;
  font-family: "Rowdies", cursive;
}

.main-img {
  text-align: center;
  margin-bottom: 40px;
}

.big-img {
  height: 600px;
  width: 40%;
  object-fit: cover;
  object-position: middle;
}

.img2 {
  height: 500px;
  width: 70%;
  object-fit: cover;
  object-position: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
