@import "navbar.css";

.header {
  margin-left: 30px;
  text-align: left;
}

.header h1 {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 40px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.header h5 {
  max-width: 1060px;
  font-size: 14px;
  line-height: 16px;
}
